In [1]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
print(data)

[0.1937360054711424, -0.8159863341584035, 1.1000470948953953, 0.6991100644575399, 1.1039244546203162, -0.22974686418078163, -1.6824687976110697]

In [2]:
import datetime

In [3]:
np.*load*?

np.__loader__
np.load
np.loadtxt

In [4]:
# creating a reference
a = [1, 2, 3]
b = a
b

[1, 2, 3]

In [5]:
a.append(4)
b

[1, 2, 3, 4]

In [6]:
# dynamic reference
a = 5
type(a)

int

In [7]:
a = 'foo'
type(a)

str

In [8]:
# strongly typed
# "5" + 5
# TypeError                                 Traceback (most recent call last)
# Cell In[8], line 2
#       1 # strongly typed
# ----> 2 "5" + 5

# TypeError: can only concatenate str (not "int") to str

In [9]:
a = 5
isinstance(a, int)

True

In [10]:
a, b = 5, 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [11]:
a = 'foo'
getattr(a, 'split')

In [12]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [13]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [14]:
s = 'python'

In [15]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [16]:
s[:3]

'pyt'

In [17]:
int(False)

0

In [18]:
# type casting
s = "3.14159"
fval = float(s)
type(fval)

float

In [19]:
int(fval)

3

In [20]:
# non zero values are true
bool(fval)

True

In [21]:
# dates and times
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [22]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [23]:
sequence = [1, 2, None, 3, None, 4]
result = 0
for value in sequence:
    if value == None:
        continue
    else:
        result += value
print(result)

10

In [24]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [25]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
total

504

In [26]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]