### TUPLE
fixed length, immutable

In [1]:
tup = (1, 2, 3)
tup

(1, 2, 3)

In [2]:
tuple([4, 0, 2])

(4, 0, 2)

In [3]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

1

In [5]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [6]:
nested_tup[0]

(4, 5, 6)

In [7]:
# if an object of a tuple is mutable, you can modify it inplace
tup = ([1, 2, 3], 3)
tup[0].append(4)
tup

([1, 2, 3, 4], 3)

In [8]:
tup = (1, 2, 3) + (4, 5, 6)
tup

(1, 2, 3, 4, 5, 6)

In [9]:
('foo', 'bar') * 3

('foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [10]:
tup = (1, 2, 3)
a, b, c = tup
b

2

In [11]:
# swap variables
a, b = 1, 2
b, a = a, b
a

2

In [12]:
values = 1, 2, 3, 4, 5
a, b, *_= values

In [13]:
a

1

In [14]:
b

2

In [15]:
_

[3, 4, 5]

In [16]:
tup.count(1)

1

### LIST
variable length, content can be modified in place, mutable

In [17]:
a_list = [2, 3, 4, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [18]:
gen = range(10)
gen

range(0, 10)

In [19]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [21]:
b_list.insert(1, 'red')

In [22]:
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [23]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [24]:
# remove locates the first occurence
b_list.append('foo')

In [25]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [26]:
b_list.remove('foo')

In [27]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [28]:
# concatenate lists
[2, None, 'foo'] + [7, 8, (2, 3)]

[2, None, 'foo', 7, 8, (2, 3)]

In [29]:
# append mulitple items using extend
x = [2, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[2, None, 'foo', 7, 8, (2, 3)]

In [30]:
a = [1, 4, 2, 67, 3]
a.sort()

In [31]:
a

[1, 2, 3, 4, 67]

In [32]:
b = ['saw', 'small', 'he', 'foxes', 'six']
b.sort(key=len)

In [33]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [34]:
b[1:3]

['saw', 'six']

In [35]:
b[-2:]

['small', 'foxes']

### DICTIONARY
stores key value pairs

In [36]:
d1 = {"a": 'some value', "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [37]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [38]:
# check if a key exists
'b' in d1

True

In [39]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [40]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [41]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [42]:
ret = d1.pop('dummy')

In [43]:
ret

'another value'

In [44]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [45]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [46]:
# existing key will be updated and key pairs that don't exist will be created
d1.update({"b": 'foo', 'c': 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [47]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [48]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [49]:
value = mapping.get(1, -1)
value

3

In [50]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

res = {}
for word in words:
    letter = word[0]
    if letter not in res:
        res[letter] = [word]
    else:
        res[letter].append(word)
res

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [51]:
from collections import defaultdict
byletter = defaultdict(list)
for word in words:
    byletter[word[0]].append(word)
    
byletter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [52]:
# only hashable values can be used as a dictionary key
hash("string")

-9017039012597578790

In [53]:
# list are mutable, so they are unhashable
# hash((1, 2, [3, 4])) 
# TypeError                                 Traceback (most recent call last)
# Cell In[53], line 1
# ----> 1 hash((1, 2, [3, 4])) # list are mutable, so they are unhashable

# TypeError: unhashable type: 'list'

### SET 
unorderd collection of unique elements

In [54]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [55]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [56]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [57]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
a.intersection(b)

{3, 4, 5}

In [60]:
a & b

{3, 4, 5}

In [61]:
c = a.copy()

In [62]:
c |= b

In [63]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

### BUILT IN SEQUENCE FUNCTIONS
enumerate, sorted, zip, reversed

In [65]:
collection = [1, 2, 3, 4]
for idx, value in enumerate(collection):
    print((idx, value))

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [66]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [67]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [68]:
# zip can take an arbitrary number of sequences, but is constrained by the seqence with the least value
seq3 = [False, True]
zipped = zip(seq1, seq2, seq3)
list(zipped)

[('foo', 'one', False), ('bar', 'two', True)]

In [69]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### LIST, SET, AND DICTIONARY COMPOSITIONS
form new lists by filtering elements of a collection <br>
[expr for value in colection if condition]

In [70]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[s.upper() for s in strings if len(s) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [71]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [72]:
loc_mapping = {index: value for index, value in enumerate(strings)}
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [73]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
result = [name for names in all_data for name in names if name.count('a') >= 2]
result

['Maria', 'Natalia']

In [74]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### FUNCTIONS

In [75]:
def add(x, y):
    return x + y
add(1, 2)

3

In [76]:
# positonal arguments
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)

0.06363636363636363

In [77]:
my_function(3.14, 7, 3.5)

35.49

In [78]:
# the list a is created and destroyed
def func():
    a = []
    for i in range(5):
        a.append(i)

In [79]:
def bind_a_varaible():
    global a
    a = []
bind_a_varaible()
a

[]

In [80]:
def f():
    a, b, c = 1, 2, 3
    return a, b, c
a, b, c = f()
b

2

In [81]:
import re
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [82]:
def short_function(x):
    return x + 2

equiv_anon = lambda x: x + 2

In [83]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x + 2)

[6, 2, 3, 7, 8]

### GENERATORS

In [84]:
def squares(n=10):
    print(f'Generating squares from 1 to {n ** 2}')
    for i in range(1, n + 1):
        yield i ** 2
gen = squares()
gen

In [85]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [86]:
gen = (x ** 2 for x in range(100))

In [87]:
for x in gen:
    print(x, end=" ")

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [88]:
sum(x ** 2 for x in range(100))

328350

In [89]:
import itertools

def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### ERRORS AND EXCEPTION HANDLING

In [90]:
def attempt_float(x):
    try:
        float(x)
    except (TypeError, ValueError):
        return x
    else:
        print("executed if no exception")
    finally:
        print('always executed')

In [91]:
attempt_float((1, 2))

always executed

(1, 2)

### FILES AND THE OPERATING SYSTEM

In [92]:
path = "./examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [93]:
for line in f:
    print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [94]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [95]:
f.close()

In [96]:
# automatically close the file when exiting the with block
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [97]:
f1 = open(path)
f1.read(10)

'Sueña el r'

In [98]:
f2 = open(path, mode='rb')
f2.read(10)

b'Sue\xc3\xb1a el '

In [99]:
# current postion
f1.tell()

11

In [100]:
import sys
sys.getdefaultencoding()

'utf-8'

In [101]:
# changes the file position
f1.seek(3)

3

In [102]:
f1.read(1)

'ñ'

In [103]:
f1.tell()

5

In [104]:
f1.close()

In [105]:
f2.close()

In [106]:
with open("tmp.txt", mode='w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open("tmp.txt") as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

beware of using seek when using any other mode besides binary to read from a file