In [4]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
print(data)

[-0.8511691205705576, 0.6286316430786748, -2.7332456340549944, -0.9736039047591964, -1.7547958113874529, -2.3322217118047224, 0.7292182201357067]

In [5]:
import datetime

In [6]:
np.*load*?

np.__loader__
np.load
np.loadtxt

In [8]:
# creating a reference
a = [1, 2, 3]
b = a
b

[1, 2, 3]

In [9]:
a.append(4)
b

[1, 2, 3, 4]

In [10]:
# dynamic reference
a = 5
type(a)

int

In [11]:
a = 'foo'
type(a)

str

In [12]:
# strongly typed
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [13]:
a = 5
isinstance(a, int)

True

In [15]:
a, b = 5, 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [16]:
a = 'foo'
getattr(a, 'split')

In [17]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [18]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [19]:
s = 'python'

In [20]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [21]:
s[:3]

'pyt'

In [22]:
int(False)

0

In [23]:
# type casting
s = "3.14159"
fval = float(s)
type(fval)

float

In [24]:
int(fval)

3

In [25]:
# non zero values are true
bool(fval)

True

In [27]:
# dates and times
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [28]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [29]:
sequence = [1, 2, None, 3, None, 4]
result = 0
for value in sequence:
    if value == None:
        continue
    else:
        result += value
print(result)

10

In [31]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [32]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
total

504

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]