### TUPLE
fixed length, immutable

In [2]:
tup = (1, 2, 3)
tup

(1, 2, 3)

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

1

In [7]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [8]:
nested_tup[0]

(4, 5, 6)

In [11]:
# if an object of a tuple is mutable, you can modify it inplace
tup = ([1, 2, 3], 3)
tup[0].append(4)
tup

([1, 2, 3, 4], 3)

In [13]:
tup = (1, 2, 3) + (4, 5, 6)
tup

(1, 2, 3, 4, 5, 6)

In [14]:
('foo', 'bar') * 3

('foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
tup = (1, 2, 3)
a, b, c = tup
b

2

In [17]:
# swap variables
a, b = 1, 2
b, a = a, b
a

2

In [22]:
values = 1, 2, 3, 4, 5
a, b, *_= values

In [23]:
a

1

In [24]:
b

2

In [25]:
_

[3, 4, 5]

In [27]:
tup.count(1)

1

### LIST
variable length, content can be modified in place, mutable

In [34]:
a_list = [2, 3, 4, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [35]:
gen = range(10)
gen

range(0, 10)

In [36]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [38]:
b_list.insert(1, 'red')

In [39]:
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [40]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [41]:
# remove locates the first occurence
b_list.append('foo')

In [42]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [43]:
b_list.remove('foo')

In [44]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [45]:
# concatenate lists
[2, None, 'foo'] + [7, 8, (2, 3)]

[2, None, 'foo', 7, 8, (2, 3)]

In [48]:
# append mulitple items using extend
x = [2, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[2, None, 'foo', 7, 8, (2, 3)]

In [49]:
a = [1, 4, 2, 67, 3]
a.sort()

In [50]:
a

[1, 2, 3, 4, 67]

In [51]:
b = ['saw', 'small', 'he', 'foxes', 'six']
b.sort(key=len)

In [52]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [54]:
b[1:3]

['saw', 'six']

In [57]:
b[-2:]

['small', 'foxes']

### DICTIONARY
stores key value pairs

In [63]:
d1 = {"a": 'some value', "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [64]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [65]:
# check if a key exists
'b' in d1

True

In [66]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [69]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [70]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [72]:
ret = d1.pop('dummy')

In [73]:
ret

'another value'

In [75]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [76]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [77]:
# existing key will be updated and key pairs that don't exist will be created
d1.update({"b": 'foo', 'c': 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [78]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [79]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [80]:
value = mapping.get(1, -1)
value

3

In [85]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

res = {}
for word in words:
    letter = word[0]
    if letter not in res:
        res[letter] = [word]
    else:
        res[letter].append(word)
res

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [87]:
from collections import defaultdict
byletter = defaultdict(list)
for word in words:
    byletter[word[0]].append(word)
    
byletter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [88]:
# only hashable values can be used as a dictionary key
hash("string")

7740197718273361642

In [90]:
hash((1, 2, [3, 4])) # list are mutable, so they are unhashable

TypeError: unhashable type: 'list'

### SET 
unorderd collection of unique elements

In [93]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [94]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [95]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [96]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [97]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
a.intersection(b)

{3, 4, 5}

In [100]:
a & b

{3, 4, 5}

In [101]:
c = a.copy()

In [102]:
c |= b

In [103]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [104]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

### BUILT IN SEQUENCE FUNCTIONS
enumerate, sorted, zip, reversed

In [105]:
collection = [1, 2, 3, 4]
for idx, value in enumerate(collection):
    print((idx, value))

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [106]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [109]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [110]:
# zip can take an arbitrary number of sequences, but is constrained by the seqence with the least value
seq3 = [False, True]
zipped = zip(seq1, seq2, seq3)
list(zipped)

[('foo', 'one', False), ('bar', 'two', True)]

In [111]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### LIST, SET, AND DICTIONARY COMPOSITIONS
form new lists by filtering elements of a collection <br>
[expr for value in colection if condition]

In [115]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[s.upper() for s in strings if len(s) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [117]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [121]:
loc_mapping = {index: value for index, value in enumerate(strings)}
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [123]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
result = [name for names in all_data for name in names if name.count('a') >= 2]
result

['Maria', 'Natalia']